body
	{
		background-size: 100%
	}
	#container
	{
		position:absolute;
		left:150;
		bottom:400;
	}
	.ajout
	{
		display:none;
	}
	#items
	{
		position:absolute;
		left:150;
		top:250;
	}
	.image_supprimer
	{
	background-image:url("images/delete.png");
	background-size: 16px 16px;
	width:16px;
	height:22px;
	}

	#vendeurs 
	{
		position:absolute;
		left:150;
		top:250;

	}

