body {background: #f2f6e9;}/*---navigation bar ---*/
.navbar 
{
	background: #880617
;
	position: relative;
}
.nav-link, .navbar-brand 
{color: black ;cursor: pointer;}
.nav-link {margin-right: 1em !important;}
.nav-link:hover {color: red;}
.navbar-collapse {justify-content: flex-end;}
.Categorie
{
	border: 2px solid grey; background-color:grey;
	text-align: center;
	position: absolute;
	
  	right: 200px;
}
.Flash
{
	border: 2px solid grey; background-color:grey;
	text-align: center;
}

#panier
{
	position: absolute;
	
  	right: 50px;
  	top:20px;
}
#compte
{
	position: absolute;
	
  	right: 150px;
  	top:20px;
  	color: black;
  	border: 2px solid grey; background-color:grey;
}
#compte:hover {color: red;}
[class*="col-lg"]
 {
  background-color: grey;
  border: 2px solid grey;
  color: black;
  cursor: pointer;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
body
  {
    background-size: 100%
  }
  #container
  {
    position:absolute;
    left:150;
    bottom:200;
  }
  .ajout
  {
    display:none;
  }
  #items
  {
    position:absolute;
    left:150;
    top:250;
  }
  .image_supprimer
  {
  background-image:url("images/delete.png");
  background-size: 16px 16px;
  width:16px;
  height:22px;
  }

  #vendeurs 
  {
    position:absolute;
    left:150;
    top:250;

  }

